.container {
  margin-top: 5rem;
}
fieldset {
  width: 40%;
  margin: 0 auto;
  border: 1px solid var(--rosa-fuerte);
  border-radius: 0.5rem;
}

input {
  width: 100%;
  font-size: 1.7rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  border: 0;
}

legend {
  font-size: 2rem;
  text-align: center;
  color: var(--gris);
  background-color: var(--rosa-fuerte);
  padding: 0.5rem;
}

label {
  font-size: 1.7rem;
  color: var(--gris);
}

button {
  border: 0;
  background-color: var(--rosa-fuerte);
  color: var(--rosa-sucio);
  font-size: 2rem;
  width: 30%;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--negro);
  transition: all 0.3s ease-in-out;
}
